{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
    <form role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ image_form.as_p }}
        {{ post_form.as_p }}
        Tags:<input class="search-query form-control" type="text"
                       name="suggestion" value="" id="suggestion"/>
        <input type="submit" value="Submit"/>
    </form>
    <div id="tag">
                </div>
{% endblock %}
