<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <title>

        {% block title_block %}

        {% endblock %}
    </title>
</head>
<body>
<ul>
    <li>
        <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li>
        <a class="nav-link" href="{% url 'add_post' %}">Add</a>
    </li>
    <li>
        <a class="nav-link" href="{% url 'users' %}">Subscibe</a>
    </li>
    <li>
        <a class="nav-link" href="{% url 'auth_logout' %}">Logout</a>
    </li>
{#    <li>#}
{#        <a class="nav-link" href="{% url 'rango:search' %}">Search</a#}
{#    </li>#}
</ul>
<div>
    {% block body_block %}
    {% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
        integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
        crossorigin="anonymous"></script>
<script src="{% static "rango-ajax.js" %}"></script>
</body>
</html>
