<!DOCTYPE html>
{% load staticfiles %}
{% for comment in comments %}
    <b>{{ comment.author.user.username }}</b>: {{ comment.text }}
    <br>
{% endfor %}
<form id="add_comment" class="add_comment" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="hidden" id="post_id" value={{ post_id }}>
    <input type="submit" value="ADD COMMENT"/>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
        integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY"
        crossorigin="anonymous"></script>
<script src="{% static "rango-ajax.js" %}"></script>