{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
    <form role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <input type="submit" value="Submit"/>
    </form>
    <a href="{% url 'index' %}">add later</a>
{% endblock %}