{% extends 'base.html' %}
{% load staticfiles %}
{% load rango_template_tags %}
{% block body_block %}

    <br>
    {% if list %}
        {% for item in list %}
            <img src="{{ item.image.post.owner.image_url }}" alt="" height="100" width="100"/>
            {{ item.image.post.owner.user.username }}
            <br>
            <img src="{{ item.image.image.url }}" alt="" height="300" width="300">
            <br>
            {% if item.liked %}
                liked
            {% else %}
                <button id="likes" data-postid="{{ item.image.post.id }}"
                         class="like btn btn-info btn-sm"
                        type="button">
                    Like
                </button>
            {% endif %}
            <br>
            <strong class="counter">{{ item.image.post.likes }}</strong> likes
            <br>
            <b>{{ item.image.post.owner.user.username }}</b> {{ item.image.post.description }}
            <br>
            <hr>
            <h3>comments:</h3>
            <br>
            <div id="comments">
                        {% get_comment_list item.image.post%}
                </div>

            <hr>
        {% endfor %}
    {% else %}
        No posts
    {% endif %}
{% endblock %}