<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if tag %}
        #{{ tag.name }}
          {{ tag.number }} post{{ tag.number|pluralize }}
    {% else %}
    {% endif %}
</body>
</html>